<div class="screen" *ngIf="lists" cdkDropListGroup>
    <div class="row" *ngFor="let list of lists">
        <div class="container">
            <h2 style="text-transform: capitalize;">{{list.name}}</h2>
            <div cdkDropList [cdkDropListData]="list" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of list.data" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <p style="margin: 0" [ngStyle]="{'text-decoration': item.completed ? 'line-through' : 'none'}">
                        {{item.title}}</p>
                    <button mat-button class="menu_btn">
                        <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before" style="display: none">
                        <button mat-menu-item (click)="markDone(list.name, item.title, item.completed)">
                            <mat-icon *ngIf="item.completed">label_off</mat-icon>
                            <mat-icon *ngIf="!item.completed">check</mat-icon>
                            {{item.completed ? 'Mark as Undone' : 'Mark as Done'}}
                        </button>
                        <button mat-menu-item (click)="delete(list.name, item.title)">
                            <mat-icon>delete_outline</mat-icon>
                            Delete Task
                        </button>
                    </mat-menu>
                </div>
            </div>
            <button mat-stroked-button color="primary" class="add_button" (click)="addNew(list.name)">
                <mat-icon>add</mat-icon> Add New
            </button>
        </div>
    </div>
</div>
